@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');

:root {
    --gradient: linear-gradient(to right bottom, rgb(207 103 215), rgb(37 171 223));
}

body {
    background: linear-gradient(to right bottom, rgb(83, 113, 168), rgb(30, 11, 65));
    /* background: linear-gradient(to left top, #333, #333 50%, #eee 75%, #333 75%); */
    height: 100vh;
    /*100% высоты окна браузера*/
    display: flex;
    justify-content: center;
    /*горизонтальное центрирование*/
    align-items: center;
    /*вертикальное центрирвание*/
    color: aliceblue;
    font-family: 'Nunito', sans-serif;
}

.timer {
    background: var(--gradient);
    padding: 32px;
    border-radius: 16px;
}

.timer__title {
    font-size: 48px;

    display: flex;
    justify-content: center;
}

.timer__box {
    display: flex;
    /*все внутренности расположатся по горизонтали*/
    justify-content: center;
    margin-top: 32px;
}

.timer__item {
    width: 70px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 16px;
    /* border: 1px solid rgba(245, 245, 245, 0.541); */
}

.timer__item:not(:last-child) {
    /* всем блокам timer__item кроме последнего*/
    margin-right: 32px;
}

.timer__circle {
    --size: 70px;
    width: var(--size);
    height: var(--size);
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.timer__num {
    font-size: 48px;
    line-height: 1em;
    /*высота межстрочного интервала, em - пропорционально шрифту*/
}

.timer__name {
    margin-top: 16px;
    font-weight: 300;
}

/*Circle*/
.circle {
    --offset: -10px;

    position: absolute;

    top: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    left: var(--offset);

    transform: rotate(-90deg);
}

.segment {
    fill: transparent;

    stroke: url(#gradient);
    stroke-width: 1px;
    stroke-dasharray: 38 60;
    stroke-linecap: round;

    transform: scale(4.7);
    transform-origin: center;
    transition: stroke-dasharray 1s linear;
}

.gradient_1 {
    stop-color: #c587f0;
}

.gradient_2 {
    stop-color: #f66969;
}

.gradient_3 {
    stop-color: #fcb045;
}